{% extends '_base.html' %}

{% block title %}Task List{% endblock title %}

{% block content %}
<style>

	body{
		background-color: #638CB8;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

	.center-column{
		width:600px;
		margin: 20px auto;
		padding:20px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #906abd;
		margin: 10px;
		padding: 20px;
		border-radius: 3px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}

</style>

<div class="center-column">
    <form method="POST" action="/tasks/">
        {% csrf_token %} 
        {{form.title}} 
        <input type="submit" value="Create Task" placeholder="What do you need to do?">
    </form> 
    
    <div class="todo-list">
        {% for item in objects %}
        <div class="item-row">
            <span><a class="btn btn-sm btn-info" href="{% url 'taskupdate' item.pk %}">Edit</a></span>
            <span><a class="btn btn-sm btn-danger" href="{% url 'taskdelete' item.pk %}">Delete</a></span>
            {% if item.complete == True%}
                <strike>{{item.title}}</strike>
            {% else %}
                <span>{{item.title}}</span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    
</div>



   



{% endblock content %}